@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body, 
#__next {
  overflow-x: hidden;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, 
.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}
.font-syne {
  font-family: 'Syne', sans-serif;
}